body { font-family: Arial, sans-serif; padding: 20px; }
.card { background: #ebebff; padding: 15px; border-radius: 10px; margin: 10px 0; box-shadow: 1px 1px 5px rgba(0,0,0,0.1); }
form input, form select { margin: 5px; padding: 5px; }
form button { margin-top: 10px; padding: 5px 10px; }
nav a { margin: 0 10px; color: rgb(26, 5, 89); font-weight: bold; text-decoration: none; }
.list { display: flex; flex-direction: column; }

